*.mdb
*.log
play*
*.pyth
*.pyc
*.yaml
output_runs/*
Lib/__pycache__/*
Lib/__pycache__/metric.cpython-312.pyc
Lib/__pycache__/__init__.cpython-312.pyc
Lib/__pycache__/lib.cpython-312.pyc
__pycache__/*
*wandb*
*.csv